.persons-list {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-right: 20px;
    margin-left: 20px;
}

/* Для екранів з шириною менше 576 пікселів  phone*/
@media (max-width: 575px) {
    body {
        font-size: 13px;
    }

    .logo-header {
        width: 24em;
        height: 8em;
    }

    .login-component {
        position: static;
    }

    .list-detail {
        position: relative;
        right: 10%;
    }

    .persons-list {
        grid-template-columns: auto;
    }

}

/* Для екранів з шириною від 576 пікселів до 767.98 пікселів  tablet*/
@media (min-width: 576px) and (max-width: 767px) {
    body {
        font-size: 14px;
    }

    .list-detail {
        margin-left: 40px;
    }

    .persons-list {
        grid-template-columns: auto auto;
    }}

/* Для екранів з шириною від 768 пікселів до 991.98 пікселів  laptop*/
@media (min-width: 768px) and (max-width: 991px) {
    body {
        font-size: 15px;
    }
    .login-component {
        left: 30%;

    }

    .persons-list {
        grid-template-columns: auto auto;
        margin-left: 30px;
    }}

/* Для екранів з шириною від 992 пікселів до 1199.98 пікселів */
@media (min-width: 992px) and (max-width: 1199px) {
    body {
        font-size: 16px;
    }

    .login-component {
        left: 30%;
    }

    .persons-list {
        grid-template-columns: auto auto auto;
    }}



